
.login-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.login-bg {
  width: 100%;
  display: block;
  object-fit: cover;
}

.login-box {
  position: absolute;
  top: 240px;
  left: 49%;
  transform: translateX(-50%);
  width: 278px;
  padding: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box input {
  width: 101%;
  padding: 12px;
  margin-bottom: 0px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.login-box button {
  width: 109%;
  background-color: #00c73c;
  color: white;
  padding: 11px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 90px;
  margin-left: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-box button:hover {
  background-color: #00b336;
}
