.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .banner-click {
    cursor: pointer;
  }
  
  .main-banner {
    width: 100%;
    display: block;
  }
  
  .section-title {
    margin: 30px 0 15px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px 40px;
  }
  
  /* .product-card {
    position: relative;
    width: 227px;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    background: #fff;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .product-card img {
    width: 100%;
    border-radius: 6px;
  }
  
  .product-card .name {
    margin: 10px 0 5px;
    font-size: 15px;
    line-height: 1.4;
  }
  
  .product-card .price {
    color: #e60023;
    font-weight: bold;
  }
   */
  .festa-banner {
    position: absolute;
    top: 142px; /* 원하는 위치로 조정 가능 */
    left: 58%;
    transform: translateX(-50%);
    z-index: 10;
    width: 350px; /* 필요에 따라 크기 조정 */
  }
  
  .purchase{
    position: absolute;
    top: 82%; /* 원하는 위치에 조정 */
    left: 28%;
    transform: translateX(-50%);
    background-color: #ff5757;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    z-index: 10;
}